@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --body-font: 'Roboto', sans-serif;
  --secondary_font: 'Montserrat', sans-serif;
  --special-font: 'Kaushan Script', cursive;;
  --primary_green:  #025732;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: var(--secondary_font);
  font-size: 28px;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: var(--special-font);
  font-size: 28px;
  padding: 0;
  margin: 0;
}

p {
  font-family:  var(--body-font);
  font-size: 16px;
  padding: 0;
  margin: 0;
}

